/*global styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 , h3 {
    text-transform: uppercase;
}
header , main , footer {
    max-width: 100%;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #b6b6b6;
}
.wrapper {
    width: 100%;
    overflow: hidden;
}
/* header */
.header {
    display: flex;
    padding: 32px 0;
    justify-content: space-between;
    position: relative;
}
/* logo */
.logo {
    z-index: 10;
}
.logotext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #95e1d3;
}
/* nav */
label, #tell-ad {
    opacity: 0;
    display: none;
}
.menu {
    list-style: none;
    display: inline-flex;
}
.menu li {
    margin-left: 32px;
}
.menu li a {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #95e1d3;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
    transition: .2s;
    position: relative;
    text-align: center;
}
.menu li a::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    width: 0px;
    height: 3px;
    background: #f38181;
    transition: width 0.3s;
    opacity: 0;
}
.menu li a:hover::after,
.menu li a:focus::after {
    width: 50%;
    transform: translate(-50%);
    opacity: 1;
    color: #f38181;
}
.menu li a:hover {
    color: #F38181;
}
/*
.menu li a:hover >  {
    color: #f38181;
    border-bottom: solid 3px #f38181;
    opacity: 1;
    width: 50%;
    opacity: 0.4s;
} */
/* main */
.main {
    text-align: center;
    color: #333333;
}
.subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    line-height: 35px;
}
.headline h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 37px;
}
.border1 {
    width: 60px;
    border-bottom: #f38181 4px solid;
    margin-left: auto;
    margin-right: auto; 
}
.serv {
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    list-style: none;
}
.serv li {
    width: 33.33%;
    text-align: left;
    align-items: flex-start;
    padding: 0 35px;
    display: flex;
    margin-top: 65px;
    margin-bottom: 35px;
}
.serv div {
    padding-left: 20px;
}
.serv li h3 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}
.serv li p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #b6b6b6;
}/* 
.serv :nth-child(n+4) {
    margin-top: 100px;
} */
.teamm {
    margin-top: 65px;
}
.text {
    margin-top: 45px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #b6b6b6;
    margin-bottom: 27px;
}
/* TEAM */
.team {
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 80px;
    width: 100%;
}
.team div {
    width: 33.33%;
    margin-left: 5px;
    margin-right: 15px;
    text-align: center;
}
.team h3 {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 11px;
    margin-top: 30px;
}
.team p {
    font-family: Roboto;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    color: #b6b6b6;
}
.team-img img{
    width: 100%;
}
/* footer */
.footer {
    border-top: 1px solid #b6b6b6;
    display: flex;
    justify-content: space-between;
}
.footer p {
    width: 400px;
    margin-top: 22px;
    margin-bottom: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #333333;
}
.footer .author {
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 16px;
    color: #f38181;
    text-decoration: none;
}
form {
    display: flex;
}
input {
    padding: 11px 10px;
    border: 1px solid #b6b6b6;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
}
input[placeholder] {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #b6b6b6;
}
input[type=button] {
    background: #95E1D3;
    padding: 12px 30px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #95E1D3;
    transition: all .3s;
}
input[type=button]:hover {
    cursor: pointer;
    background: #F38181;
    border: 1px solid #F38181;
}
/* наведение */
div .team-img {
    position: relative;
    width: 100%;
}
.team-img::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    bottom : 10px;
    left: -10px;
    right: 10px;
    width: 100%;
    height: 99%;
    background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
    opacity: 0;
    transition: opacity 0.3s;
}
.team-img:hover::before {
    opacity: 1;
}
.team-img:hover > .social{
    opacity: 1;
}
.social {
    list-style: none;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .3s;
    opacity: 0;
}
.social img {
    height: 26px;
}
.social li {
    width: 57px;
    height: 57px;
    background: #FCE38A;
    transition: background .3s;
}
.social li:hover {
    background: #95E1D3;
}
.social a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* адапт */
@media (max-width: 1199px) {
    .header {
        padding: 35px 15px;
    }
    .text {
        padding: 0 15px;
    }
    .team {
        padding: 0 15px;
    }
    .footer {
        padding: 0 15px;
    }
    }
@media (max-width: 768px) {
    .serv li {
        width: 50%;
    } 
    .team {
        flex-wrap: wrap;
        justify-content: center;
    }
    .team .adapt {
        width: 45%;
    }
    .team:nth-child(n+2) > .adapt{
        margin-top: 40px;
    }
}
@media (max-width: 450px) {
    #tell-ad {
        opacity: 1;
    }
    .menu {
        display: flex;
        position: absolute;
        text-align: center;
        background-color: #fff;
        width: 100%;
        z-index: 4;
        right: 0;
        left: 0;
        top: -1900px;
        flex-direction: column;
        transform: scaleY(0);
        transition: transform 0.4s;
    }
    .menu li {
        width: 100%;
        height: 45px;
        line-height: 45px;
        margin: 0;
        border-bottom: 1px solid #95e1d3;
    }
    .menu li:first-child {
        border-top: 1px solid #95e1d3;
    }
    .nav input:checked ~ .menu {
        display: block;
        transform: scaleY(1);
        top: 70px;
    }
    label{
        width: 26px;
        height: 30px;
        top: 29px;
        opacity: 1;
        z-index: 5;
        right: 13px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
    }
    label span{
        height: 3px;
        background-color: #95e1d3;
        width: 100%;
        position: relative;
    }
    span::after {
        content: '';
        display: block;
        height: 3px;
        background-color: #95e1d3;
        width: 100%;
        position: absolute;
        top: 8px;
    }
    span::before {
        content: '';
        display: block;
        height: 3px;
        background-color:  #95e1d3;
        width: 100%;
        position: absolute;
        bottom: 8px;
    }
    .nav input:checked ~ label span:after {
        transform: rotate(225deg);
        top: 0px;
        transition: transform 1.1s;
    }
    .nav input:checked ~ label span:before {
        transform: rotate(-225deg);
        bottom: 0px;
        transition: transform 1.1s;
    }
    .nav input:checked ~ label span {
        background-color: #fff;
    }
    .serv li {
        width: 100%;
    }
    .team .adapt {
        width: 100%;
    }
    .footer {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer p {
        text-align: center;
    }
}






